@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Ubuntu", sans-serif;
  background-color: #001219;
  color: #fff;
}
/* Navbar */
.navbar {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  /* overflow-x: hidden; */
  padding: 1rem 8%;
  align-items: center;
  background-color: rgba(0, 18, 25, 0.9);
  border-bottom: 1px solid #ee9b00;
  z-index: 1;
}
.navbar .navbar-logo {
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
}
.navbar .navbar-logo span {
  color: #ee9b00;
}

.navbar .navbar-menu a {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  padding: 10px;
  border-radius: 100px;
  margin: 0 6px;
  transition: 0.2s linear;
}
.navbar .navbar-menu a:hover {
  background-color: #ee9b00;
  color: #001219;
}
.navbar .navbar-menu a > i {
  color: #ee9b00;
}
.navbar .navbar-menu a:hover > i {
  color: #001219;
}
.navbar .navbar-extra a {
  color: #fff;
  display: inline-block;
  font-size: 2rem;
  padding: 10px;
  border-radius: 140px;
  margin: 0 6px;
}
.navbar .navbar-extra a:hover {
  color: #001219;
  background-color: #ee9b00;
}
#menubar {
  display: none;
}
/* Navbar end */

/* Welcome Section */
.welcome {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("aset/earth.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.welcome::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 18, 25, 1) 5%,
    rgba(255, 255, 255, 0) 75%
  );
}
.welcome .welcome-page {
  margin: auto;
  text-align: center;
  padding: 1rem 8%;
  max-width: 100rem;
}
.welcome .welcome-page h1 {
  font-size: 4.4rem;
  text-shadow: 3px 3px 9px rgba(0, 18, 25, 0.5);
  line-height: 1.2;
}
#welcome {
  overflow: hidden;
  animation: typing 3.4s steps(40, end), blink-caret 0.75s step-end infinite;
}
.welcome .welcome-page h1 span {
  color: #ee9b00;
}
.welcome .welcome-page p {
  font-size: 2rem;
  margin: 1rem;
  line-height: 1.4;
  text-shadow: 3px 3px 9px rgba(0, 18, 25, 0.5);
  font-weight: 400;
}
.welcome .welcome-button {
  display: inline-block;
  margin: 1rem 0;
  /* border: 2px solid #001219; */
  padding: 1rem 3rem;
  border-radius: 140px;
  background-color: #ee9b00;
  color: #001219;
  font-size: 1.3rem;
  font-weight: 500;
  box-shadow: 3px 3px 9px rgba(0, 18, 25, 0.5);
  transition-duration: 0.3s;
  transition-property: transform;
}
.welcome .welcome-button:hover {
  transform: scale(1.1);
}

/* Welcome End */

/* About Me Start */
.about,
.skill,
.contact,
.form,
.gallery {
  padding: 8rem 8% 9rem;
  border-bottom: 2px solid #00151d;
}
.about h2,
.skill h2,
.contact h2,
.form h2,
.gallery h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}
.about .about-me {
  line-height: 1.3;
  display: flex;
  /* max-width: 100%; */
}
.about .about-me .content {
  padding-right: 2rem;
  flex: 1 1 40rem;
  text-align: justify;
  font-size: 1.15rem;
}
.about .about-me .content h3 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}
.about .about-me .content p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.about .about-me .content p > a {
  color: #ee9b00;
}
.about .about-me .about-foto {
  flex: 1 1 1rem;
}
.about .about-me .about-foto img {
  width: 100%;
}
/* About Me end */

/* Skill Section Start */
.skill .list,
.skill .list1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 3rem;
  padding-bottom: 2em;
  margin: 2rem;
}
.skill .list img,
.skill .list1 img {
  width: 6.2rem;
}
.skill .list .container,
.skill .list1 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
  margin: 1rem;
  margin-bottom: 2rem;
  background-color: #000e13;
  box-shadow: 2px 2px 6px rgb(0, 15, 21);
}

.skill .list .container .text,
.skill .list1 .container .text {
  padding-top: 1.5rem;
}
.skill .list .container .text h4,
.skill .list1 .container .text {
  font-size: 1.3rem;
  font-weight: 500;
}
.skill .list .container:nth-child(2) {
  transition-delay: 100ms;
}
.skill .list .container:nth-child(3) {
  transition-delay: 200ms;
}
.skill .list .container:nth-child(4) {
  transition-delay: 300ms;
}
.skill .list .container:nth-child(5) {
  transition-delay: 400ms;
}
.skill .list .container:nth-child(6) {
  transition-delay: 500ms;
}
.skill .list1 .container:nth-child(2) {
  transition-delay: 100ms;
}
.skill .list1 .container:nth-child(3) {
  transition-delay: 200ms;
}
.skill .list1 .container:nth-child(4) {
  transition-delay: 300ms;
}
.skill .list1 .container:nth-child(5) {
  transition-delay: 400ms;
}
/* Skill Section End */

/* Gallery Start */

.gallery .row {
  display: flex;
}

.gallery .column {
  flex: 33.33%;
  padding: 5px;
}
.gallery .row .column:nth-child(2) {
  transition-delay: 100ms;
}
.gallery .row .column:nth-child(3) {
  transition-delay: 200ms;
}
/* Gallery End */

/* Contact Section Start */
.contact .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 2rem 0 2rem;
}
.contact .list .container {
  padding: 1rem;
  margin: 0 2rem 2rem;
  border-radius: 12px;
  background-color: #000e13;
  transition-duration: 0.3s;
}
.contact .list .container i {
  font-size: 2rem;
  color: #fff;
}
.contact .list .container:hover {
  background-color: #ee9b00;
  transition: 0.3s;
}
.contact .list .container:hover i {
  color: #000e13;
  transition: 0.3s;
}

/* Contact Section End */

/* Form section start */

.form .form-main {
  font-weight: 500;
  max-width: 500px;
  margin: 0 auto;
}

.form .form-main label {
  display: block;
  margin-bottom: 5px;
}
.form .form-main input {
  font-weight: 400;
  font-size: 1.2rem;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
textarea {
  resize: vertical;
}

input[type="submit"] {
  background-color: #ee9b00;
  color: #000e13;
  padding: 1rem 1.4rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 0.3s;
}

input[type="submit"]:hover {
  transform: scale(1.1);
}

/* Form Section end */
/* Modal section Start */
/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /*Enable scroll if needed*/
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 60%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* The Modal (background) */

/* Footer */

footer {
  text-align: center;
  left: 0px;
  right: 0px;
  padding: 3rem 0;
  border-top: 2px solid #ee9b00;
  background-color: #001219;
  color: #fff;
}
footer .links {
  padding: 1rem 0;
}
footer .links a {
  font-weight: 500;
  padding: 1rem;
  border-radius: 100px;
  margin: 0.4rem;
  color: #fff;
}
footer .links a i {
  color: #ee9b00;
}
footer .links a:hover {
  background-color: #ee9b00;
  color: #001219;
  transition: 0.3s;
}
footer .links a:hover i {
  color: #001219;
  transition: 0.3s;
}
footer .copyright {
  font-size: 1rem;
  padding: 1rem 0;
}
footer .copyright p {
  color: #fff;
  font-weight: 700;
}
footer .copyright a {
  color: #ee9b00;
}

/* CSS Animation When displayed in the ViewPort */
.hidden {
  opacity: 0;
  transform: translateX(-15%);
  transition: all 1s;
}
.show {
  opacity: 1;
  transform: translateX(0);
}
.hidden2 {
  opacity: 0;
  transform: translateY(-15%);
  transition: all 1s;
}
.show2 {
  opacity: 1;
  transform: translateY(0);
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 77.7%;
  }
  .about .about-me .content {
    flex: 1 1 70%;
  }
}
/* Tablet */
@media only screen and (max-width: 1200px) {
  html {
    font-size: 70%;
  }
  .about .about-me .content {
    flex: 1 1 60%;
  }
  .modal-content {
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 66.6%;
  }
  #menubar {
    display: inline-block;
  }
  .navbar .navbar-menu {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #001219;
    width: 30rem;
    height: 100vh;
    transition: 0.4s;
  }
  .navbar .navbar-menu.active {
    right: 0;
  }
  .navbar .navbar-menu a {
    margin: 1.6rem;
    display: block;
    padding: 1rem;
    font-size: 1.6rem;
  }
  .about .about-me .content {
    flex: 1 1 50%;
  }
  .modal-content {
    width: 40%;
  }
  .gallery .row {
    flex-direction: column;
  }
  .gallery .column {
    width: 100%;
  }
  .skill {
    padding-bottom: 0;
  }
  .contact {
    padding-bottom: 0;
  }
}
/* Mobile */
@media (max-width: 480px) {
  html {
    font-size: 55.5%;
  }
  .about .about-me {
    display: block;
  }
  .about .about-me .content {
    margin-bottom: 1rem;
  }
  .about .about-me .about-foto {
    width: 40%;
    margin: 0 auto;
  }
}

@media print {
  footer {
    display: block;
    position: absolute;
    bottom: 0;
  }
}
