@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}
body {
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
  background-color: #001219;
  color: #fff;
}
/* Navbar */
.navbar {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem 8%;
  align-items: center;
  background-color: rgba(0, 8, 25, 0.7);
  border-bottom: 1px solid #005f73;
}
.navbar .navbar-logo {
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
}
.navbar .navbar-logo span {
  color: #ee9b00;
}

.navbar .navbar-menu a {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  padding: 10px;
  border-radius: 140px;
  margin: 0 6px;
  transition: 0.2s linear;
}
.navbar .navbar-menu a:hover {
  background-color: #ee9b00;
  color: #001219;
}
.navbar .navbar-menu a > i {
  color: #ee9b00;
}
.navbar .navbar-menu a:hover > i {
  color: #001219;
}
.navbar .navbar-extra a {
  color: #fff;
  display: inline-block;
  font-size: 2rem;
  padding: 10px;
  border-radius: 140px;
  margin: 0 6px;
}
.navbar .navbar-extra a:hover {
  color: #001219;
  background-color: #ee9b00;
}
#menubar {
  display: none;
}
/* Navbar end */

/* Welcome Section */
.welcome {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("aset/earth.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.welcome .welcome-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Welcome End */

.footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
  right: 0px;
  background-color: #284b63;
  color: #fff;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 77.7%;
  }
}
/* Tablet */
@media only screen and (max-width: 1200px) {
  html {
    font-size: 70%;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 66.6%;
  }
  #menubar {
    display: inline-block;
  }
  .navbar .navbar-menu {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #005f73;
    width: 30rem;
    height: 100vh;
    transition: 0.4s;
  }
  .navbar .navbar-menu.active {
    right: 0;
  }
  .navbar .navbar-menu a {
    margin: 1.6rem;
    display: block;
    padding: 1rem;
    font-size: 1.6rem;
  }
}
/* Mobile */
@media (max-width: 480px) {
  html {
    font-size: 55.5%;
  }
}

@media print {
  footer {
    display: block;
    position: absolute;
    bottom: 0;
  }
}
